body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-image: url("img/bg.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#question, #guess, #result, #score, #highscores {
    text-align: center;
    margin-top: 20px;
}

button {
    margin-top: 20px;
}

.img-size {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

.centered {
    display: block;
    margin: 0 auto;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
}

td {
	padding: 10px;
	border: 1px solid #000;
	text-align: center;
}

.button {
	display: block;
	width: 100px;
	margin: 20px auto;
	padding: 10px;
	background-color: #ddd;
	color: #000;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

.button:hover {
	background-color: #aaa;
	color: #fff;
}

.genius-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 800px;
}
.genius {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    min-width: 200px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}